<div class="home-bg"></div>

<div class="container-fluid text-white">
    <div class="container-lg">
        <div class="px-3 mx-auto text-center home-welcome">
            <h1 class="display-4" i18n>Welcome</h1>
            <p class="lead" i18n>Kebab and fish specialities</p>
            <button class="p-2 btn text-white d-sm-none border rounded" routerLink="/card" i18n>Our card</button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container-lg p-0">
        <div class="px-3 mx-auto text-center text-white">
            <h4 i18n>Nos best-sellers</h4>
        </div>
        
        <div class="row justify-content-center">
            <div *ngFor="let product of products" class="col-xl-3 col-lg-4 col-sm-6 col-12 mb-3 mb-xl-0">
                <div class="h-100 card mb-4 shadow-sm text-dark mb-2 mb-xl-0">
                    <div class="ec-container bg-secondary rounded-top">
                        <img *ngIf="product.img" src="./assets/{{ product.img }}"
                            class="rounded-top ec-card-image ec-container" />
                    </div>
                    <div class="d-flex card-body flex-column">
                        <h6>{{ product.name }}</h6>
                        <p class="card-text small">{{ product.description }}</p>
                        <h5 class="text-right d-none d-sm-block mt-auto">{{ product.price | number:'.2'}} €</h5>
                        <div class="d-flex align-items-center">
                            <div class="input-group mt-3">
                                <div class="input-group-prepend">
                                    <button class="btn px-3 py-0 custom-font-size text-dark border" type="button" (click)="substract(product.id)">
                                        <i class="fa fa-minus small"></i>
                                    </button>
                                </div>
                                <input type="number" class="form-control text-right" [(ngModel)]="toAdd[product.id]" />
                                <div class="input-group-append">
                                    <button
                                        class="btn px-3 py-0 custom-font-size text-dark border-top border-bottom rounded-0"
                                        type="button" (click)="add(product.id)">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                    <button class="btn btn-primary" type="button"
                                        (click)="addToCart(product.id)" i18n>Add</button>
                                </div>
                            </div>
                            <h5 class="custom-price mt-4 text-right d-block d-sm-none">{{ product.price | number:'.2'}} €
                            </h5>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="container-lg">


        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                
            </div>
        </footer>
    </div>
</div>