.home-bg {
    background-image: url('../../../assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80%;
    position: absolute;
    width: 100%;
    z-index: -1;
    filter: blur(3px) brightness(0.8);
}
.home-bg:before {
    content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity: 0;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.home-welcome {
    height: 65vh;
    padding-top: 15vh;
}

.card-width {
    width: 33%;
}

.ec-card-image {
    width: 100%;
    object-fit: cover;
    vertical-align: top;
    object-position: center;
}

.custom-price {
    width: 180px;
}

.ec-container { 
    height: 180px;
}


.ec-card {
    height: 100px;
    filter: drop-shadow(0 0 3px #555);
    background-color: white;

}

.advanced-card {

}