<form [formGroup]="groupForm" autocomplete="off" (submit)="saveGroup()">
    <div class="form-group">
        <label for="name">Nom</label>
        <input type="text" formControlName="name" class="form-control" id="name" aria-describedby="nameHelp"
            placeholder="Nom .." [class.is-invalid]="submitted && !groupForm.get('name').valid">
        <div *ngIf="submitted && groupForm.get('name').errors" class="invalid-feedback">
            <div *ngIf="groupForm.get('name').errors.required">Le nom du groupe doit être renseigné</div>
        </div>
        <small id="nameHelp" class="form-text text-muted">Le nom de votre groupe ex: "Boissons", "Nos spécialités"
            etc..</small>
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea type="text" formControlName="description" class="form-control" id="description"
            aria-describedby="descriptionHelp" placeholder="Description .."></textarea>
        <small id="descriptionHelp" class="form-text text-muted">Une petite description de votre groupe, elle figurera
            en dessous du groupe dans le menu et sur les commandes.</small>
    </div>
    <button type="submit" class="btn btn-primary">{{ (id) ? 'Modifier': 'Ajouter' }}</button>
    <button type="button" class="btn" (click)="back()">Retour</button>
</form>